<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhh.mapper.RenterMapper" >
  <resultMap id="BaseResultMap" type="com.fhh.pojo.Renter" >
    <id column="renter_id" property="renterId" jdbcType="VARCHAR" />
    <result column="renter_name" property="renterName" jdbcType="VARCHAR" />
    <result column="renter_login_name" property="renterLoginName" jdbcType="VARCHAR" />
    <result column="renter_age" property="renterAge" jdbcType="INTEGER" />
    <result column="renter_password" property="renterPassword" jdbcType="VARCHAR" />
    <result column="renter_sex" property="renterSex" jdbcType="VARCHAR" />
    <result column="renter_birthday" property="renterBirthday" jdbcType="DATE" />
    <result column="renter_role" property="renterRole" jdbcType="INTEGER" />
    <result column="renter_telphone" property="renterTelphone" jdbcType="VARCHAR" />
    <result column="renter_createtime" property="renterCreatetime" jdbcType="TIMESTAMP" />
    <result column="renter_updatetime" property="renterUpdatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    renter_id, renter_name, renter_login_name, renter_age, renter_password, renter_sex, 
    renter_birthday, renter_role, renter_telphone, renter_createtime, renter_updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_renter
    where renter_id = #{renterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_renter
    where renter_id = #{renterId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fhh.pojo.Renter" >
    insert into tb_renter (renter_id, renter_name, renter_login_name, 
      renter_age, renter_password, renter_sex, 
      renter_birthday, renter_role, renter_telphone, 
      renter_createtime, renter_updatetime)
    values (#{renterId,jdbcType=VARCHAR}, #{renterName,jdbcType=VARCHAR}, #{renterLoginName,jdbcType=VARCHAR}, 
      #{renterAge,jdbcType=INTEGER}, #{renterPassword,jdbcType=VARCHAR}, #{renterSex,jdbcType=VARCHAR}, 
      #{renterBirthday,jdbcType=DATE}, #{renterRole,jdbcType=INTEGER}, #{renterTelphone,jdbcType=VARCHAR}, 
      #{renterCreatetime,jdbcType=TIMESTAMP}, #{renterUpdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fhh.pojo.Renter" >
    insert into tb_renter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="renterId != null" >
        renter_id,
      </if>
      <if test="renterName != null" >
        renter_name,
      </if>
      <if test="renterLoginName != null" >
        renter_login_name,
      </if>
      <if test="renterAge != null" >
        renter_age,
      </if>
      <if test="renterPassword != null" >
        renter_password,
      </if>
      <if test="renterSex != null" >
        renter_sex,
      </if>
      <if test="renterBirthday != null" >
        renter_birthday,
      </if>
      <if test="renterRole != null" >
        renter_role,
      </if>
      <if test="renterTelphone != null" >
        renter_telphone,
      </if>
      <if test="renterCreatetime != null" >
        renter_createtime,
      </if>
      <if test="renterUpdatetime != null" >
        renter_updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="renterId != null" >
        #{renterId,jdbcType=VARCHAR},
      </if>
      <if test="renterName != null" >
        #{renterName,jdbcType=VARCHAR},
      </if>
      <if test="renterLoginName != null" >
        #{renterLoginName,jdbcType=VARCHAR},
      </if>
      <if test="renterAge != null" >
        #{renterAge,jdbcType=INTEGER},
      </if>
      <if test="renterPassword != null" >
        #{renterPassword,jdbcType=VARCHAR},
      </if>
      <if test="renterSex != null" >
        #{renterSex,jdbcType=VARCHAR},
      </if>
      <if test="renterBirthday != null" >
        #{renterBirthday,jdbcType=DATE},
      </if>
      <if test="renterRole != null" >
        #{renterRole,jdbcType=INTEGER},
      </if>
      <if test="renterTelphone != null" >
        #{renterTelphone,jdbcType=VARCHAR},
      </if>
      <if test="renterCreatetime != null" >
        #{renterCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="renterUpdatetime != null" >
        #{renterUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhh.pojo.Renter" >
    update tb_renter
    <set >
      <if test="renterName != null" >
        renter_name = #{renterName,jdbcType=VARCHAR},
      </if>
      <if test="renterLoginName != null" >
        renter_login_name = #{renterLoginName,jdbcType=VARCHAR},
      </if>
      <if test="renterAge != null" >
        renter_age = #{renterAge,jdbcType=INTEGER},
      </if>
      <if test="renterPassword != null" >
        renter_password = #{renterPassword,jdbcType=VARCHAR},
      </if>
      <if test="renterSex != null" >
        renter_sex = #{renterSex,jdbcType=VARCHAR},
      </if>
      <if test="renterBirthday != null" >
        renter_birthday = #{renterBirthday,jdbcType=DATE},
      </if>
      <if test="renterRole != null" >
        renter_role = #{renterRole,jdbcType=INTEGER},
      </if>
      <if test="renterTelphone != null" >
        renter_telphone = #{renterTelphone,jdbcType=VARCHAR},
      </if>
      <if test="renterCreatetime != null" >
        renter_createtime = #{renterCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="renterUpdatetime != null" >
        renter_updatetime = #{renterUpdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where renter_id = #{renterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhh.pojo.Renter" >
    update tb_renter
    set renter_name = #{renterName,jdbcType=VARCHAR},
      renter_login_name = #{renterLoginName,jdbcType=VARCHAR},
      renter_age = #{renterAge,jdbcType=INTEGER},
      renter_password = #{renterPassword,jdbcType=VARCHAR},
      renter_sex = #{renterSex,jdbcType=VARCHAR},
      renter_birthday = #{renterBirthday,jdbcType=DATE},
      renter_role = #{renterRole,jdbcType=INTEGER},
      renter_telphone = #{renterTelphone,jdbcType=VARCHAR},
      renter_createtime = #{renterCreatetime,jdbcType=TIMESTAMP},
      renter_updatetime = #{renterUpdatetime,jdbcType=TIMESTAMP}
    where renter_id = #{renterId,jdbcType=VARCHAR}
  </update>
</mapper>